<!DOCTYPE html>
<html lang="en">
{% extends 'main/layout.html' %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% block body %}

{% for el in info_0%}
<div class="serviceInfo">
    <a>ФИО:</a><h2 class="tab">{{el.fio}}</h2><br>
    <a>Должность:</a><h2 class="tab">{{el.post}}</h2><br>
    <a>Начальник:</a><h2 class="tab">{{el.post_head}}</h2><br>
    <a>Дата начала работы:</a><h2 class="tab">{{el.start_date}}</h2><br>
    <a>Зарплата:</a><h2 class="tab">{{el.wages}}</h2><br>
    <a>Всего выплачено:</a><h2 class="tab">{{el.total_paid}}</h2><br>
</div>
{% endfor %}

{% endblock %}

</html>